*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/files
/package/feeds
/package/openwrt-packages
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
/single_img_dir/bin/*
/single_img_dir/IPQ4019.ILQ.5.0.3/common/build/*.log
/single_img_dir/IPQ4019.ILQ.5.0.3/common/build/bin/
/single_img_dir/IPQ4019.ILQ.5.0.3/common/build/ipq_allconf/
/single_img_dir/IPQ4019.ILQ.5.0.3/common/build/ipq_p_gcc5/
/single_img_dir/IPQ4019.ILQ.5.0.3/download_qpst_emmc_img.xml
/single_img_dir/IPQ4019.ILQ.5.0.3/download_qpst_nand_img.xml
/single_img_dir/IPQ4019.ILQ.5.0.3/download_qpst_nor_img.xml
/single_img_dir/IPQ4019.ILQ.5.0.3/download_qpst_norplusnand_img.xml
/single_img_dir/IPQ4019.ILQ.5.0.3/download_qpst_sahara_emmc.xml
/single_img_dir/nor-ipq40xx-single.img
/single_img_dir/ipq40xx-nor-apps.img
